#passport {
  .logo-text {
    margin-top: 8vh;
    margin-bottom: 8vh;
    text-align: center;

    .logo {
      height: 6vh;
      width: 6vh;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .login-form {
    @login-height: 6vh;
    margin: 0 10vw;

    input {
      background-color: hsla(0, 0%, 71%, .1);
      height: @login-height;
      padding: 1.5vh;
      border-radius: 4px;
    }

    button {
      border-radius: 4px;
      height: @login-height;
      line-height: @login-height;
    }

    .login-text {
      padding: 10px 16px;
      font-size: 2vh;
    }
  }
}
